<div class="forgot-password-wrapper">
  <div>
    <button ion-button backLink icon-only>
      <ion-icon name='arrow-back'></ion-icon>
    </button>
  </div>
  <div>
    <div class="logo-holder">
      <div class="logo"></div>
    </div>
  </div>
  <div class="reset-input-wrapper">
    <ion-list>
      <form #form="ngForm" (ngSubmit)="submit(form.valid)" novalidate>
        <p class="subtext">Enter new password:</p>

        <ion-item>
          <ion-input
            type="password"
            placeholder="New password"
            name="password"
            #Password="ngModel"
            [(ngModel)]="userData.Password"
            required minlength="6"
            required></ion-input>
        </ion-item>
        <div class="warning-wrapper" *ngIf="!Password.valid && (Password.touched || form.submitted)">
          <p class="warning-message" *ngIf="Password.errors?.required">Field is required</p>
          <p class="warning-message" *ngIf="Password.errors?.minlength">Minimum 6 characters</p>
        </div>
        <p class="subtext">Confirm new password:</p>

        <ion-item>
          <ion-input
            type="password"
            placeholder="New password"
            name="confirm-password"
            #ConfirmPassword="ngModel"
            [(ngModel)]="userData.ConfirmPassword"
            required minlength="6"
            [equalTo]="Password"
            required></ion-input>
        </ion-item>
        <div class="warning-wrapper" *ngIf="!ConfirmPassword.valid && (ConfirmPassword.touched || form.submitted)">
          <p class="warning-message" *ngIf="ConfirmPassword.errors?.required">Field is required</p>
          <p class="warning-message" *ngIf="ConfirmPassword.errors?.equalTo && !ConfirmPassword.errors?.required">Passwords don't match</p>
        </div>
        <button type="submit" ion-button>
          Send
        </button>
      </form>
    </ion-list>
  </div>
</div>
