.user-image-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

@media (max-width: 1200px) {
  .user-image-wrapper {
    height: calc(100% - 121px);
    margin: 61px 0 60px;
  }
}
