.register-page {
  position: absolute;
  width: 600px;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  transform: translateX(-50%) translateY(-55%);

  button[backLink] {
    display: none;
    position: absolute;
    right: 12px;
    top: 13px;
    height: 30px;
    width: 30px;
    color: $cs-red;
    font-size: 25px;
    ion-icon {
      font-size: 30px;
      &.icon-ios {
        font-size: 40px;
      }
    }
  }

  .crop-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #fff;
    z-index: 1;

    .buttons-wrapper {
      display: flex;
      width: 700px;
      justify-content: space-between;
    }

    .upload-button {
      width: 40px;
      height: 30px;
      background: url('../assets/images/icons-group.svg') center -370px no-repeat;
      background-size: 36px;
      padding: 0;
    }

    .cancel-button {
      background: none;

      &:before {
        content: '';
        position: absolute;
        width: 35px;
        height: 4px;
        border-radius: 15px;
        background-color: #5D5D5D;
        transform: rotate(45deg);
      }

      &:after {
        content: '';
        position: absolute;
        width: 35px;
        height: 4px;
        border-radius: 15px;
        background-color: #5D5D5D;
        transform: rotate(-45deg);
      }
    }
  }
}

.back-button-wrapper {
  text-align: right;
}

.button-wrapper {
  text-align: center;
  p {
    font-size: 16px;
    margin-bottom: 30px;
  }
}

.upload-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #F9E2E2 url('../assets/images/icons-group.svg') center -163px no-repeat;
  background-size: 55%;
}

.remove-photo {
  display: block;
  margin: 0 auto 30px;
  text-decoration: underline;
  background: none;
  font-size: 14px;
  color: $cs-red;
}

.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner,
.item-input.input-has-focus .item-inner {
  box-shadow: none !important;
  border: none !important;
}

//ion-label.label {
//  margin: 0;
//}

ion-input {
  margin-bottom: 15px;
  border-bottom: 1px solid #969696;
  color: #000;
  &.ng-invalid.ng-dirty,
  &.ng-invalid.ng-touched {
    border-bottom-color: #f53d3d;
  }

  input::placeholder {
    color: #cecece !important;
  }
}

.list-ios > .item-block:first-child,
.list-ios .item-block .item-inner {
  border: 0;
}

.list-ios > .item-block:last-child {
  border: 0;
}

ion-item.item-block {
  padding: 0;
  .item-inner.item-inner {
    padding: 0;
    border: 0;
  }
}

.warning-wrapper {
  position: relative;

  .warning-message {
    position: absolute;
    top: -11px;
    right: 0;
    margin: 0;
    color: $cs-red;
    z-index: 1;
  }
}

button[type="submit"] {
  width: 100%;
  height: 55px !important;
  background: $cs-red;
  font-size: 16px !important;
  color: #fff;
  line-height: 45px;
  margin: 30px 0 25px !important;
  border-radius: 4px;
  text-transform: capitalize;
  &:hover {
    background: #DD423E !important;
    color: #fff !important;
    padding: 0 !important;
    border-radius: 4px !important;
  }
}

@media (max-width: 1200px) {
  .register-page {
    width: 100%;
    position: static;
    margin: 30px auto 0;
    transform: none;

    button[backLink] {
      display: initial;
    }

    ion-list {
      margin: 0 20px !important;
      padding: 0;
    }

    .login-button {
      padding-bottom: 40px;
    }

    .crop-wrapper {
      .buttons-wrapper {
        width: 100%;
      }
    }
  }
}
