<div class="forgot-password-wrapper">
  <div>
    <button ion-button backLink icon-only>
      <ion-icon name='arrow-back'></ion-icon>
    </button>
  </div>
  <div>
    <div class="logo-holder">
      <div class="logo"></div>
    </div>
  </div>
  <div class="login-input-wrapper">
    <p>Enter your email:</p>
    <ion-list>
      <form #mailForm="ngForm" (ngSubmit)="submit(mailForm.valid)" novalidate>
        <ion-item>
          <ion-input
            type="email"
            #Email="ngModel"
            placeholder="Email"
            name="email"
            required
            email
            [(ngModel)]="userEmail"></ion-input>
        </ion-item>
        <div class="warning-wrapper" *ngIf="!Email.valid && (Email.touched || mailForm.submitted)">
          <p class="warning-message" *ngIf="Email.errors?.required">Field is required</p>
          <p class="warning-message" *ngIf="Email.errors?.email">Invalid Email</p>
        </div>
        <button type="submit" ion-button>
          Send
        </button>
      </form>
    </ion-list>
  </div>
</div>
