//.login-wrapper {
//  width: 60%;
//  margin: 0 auto;
//}
//
//.logo-holder {
//  width: 100%;
//  height: 200px;
//  background: rgb(177, 42, 40);
//  background: -moz-linear-gradient(left, rgba(177, 42, 40, 1) 0%, rgba(197, 53, 50, 1) 27%, rgba(197, 53, 50, 1) 74%, rgba(175, 41, 39, 1) 100%);
//  background: -webkit-linear-gradient(left, rgba(177, 42, 40, 1) 0%, rgba(197, 53, 50, 1) 27%, rgba(197, 53, 50, 1) 74%, rgba(175, 41, 39, 1) 100%);
//  background: linear-gradient(to right, rgba(177, 42, 40, 1) 0%, rgba(197, 53, 50, 1) 27%, rgba(197, 53, 50, 1) 74%, rgba(175, 41, 39, 1) 100%);
//  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b12a28', endColorstr='#af2927', GradientType=1);
//
//  .logo {
//    position: relative;
//    top: 50%;
//    width: 180px;
//    height: 130px;
//    margin: 0 auto;
//    background: url("../assets/images/login-logo.png") center no-repeat;
//    background-size: cover;
//    transform: translateY(-50%);
//  }
//
//}
//
//form {
//  text-align: center;
//}
//
//.login-wrapper ion-segment.login-tabs ion-segment-button {
//  height: 50px;
//  line-height: 50px;
//  background: #f3f3f3;
//  border: none;
//  border-radius: 0;
//  font-size: 14px;
//  color: #969696;
//  opacity: 1;
//  text-transform: capitalize;
//
//  &.segment-activated {
//    background: #fff;
//    color: map-get($colors, primary);
//  }
//}
//
//ion-input {
//  margin-bottom: 15px;
//  border-bottom: 1px solid #969696;
//  color: #969696;
//
//  input::placeholder {
//    color: #cecece !important;
//  }
//}
//
//.forgot-password {
//  margin: 0 20px 20px 0;
//  text-align: right;
//  text-transform: capitalize;
//  color: $cs-red;
//}
//
//ion-list button[type="submit"] {
//  width: 100%;
//  height: 55px;
//  background: $cs-red;
//  font-size: 16px;
//  color: #fff;
//  line-height: 45px;
//  margin: 15px 0 25px;
//  border-radius: 4px;
//  text-transform: capitalize;
//}
//
//.social-wrapper {
//  width: 110px;
//  margin: 0 auto 40px;
//  text-align: center;
//
//  .button-wrapper {
//    display: flex;
//    justify-content: space-between;
//  }
//
//  p {
//    color: #cecece;
//  }
//  button {
//    width: 40px;
//    height: 40px;
//    background: url("../assets/images/social-icons.svg") no-repeat;
//    background-size: cover;
//
//    &.facebook {
//      background-position: top center;
//    }
//    &.twitter {
//      background-position: bottom center;
//    }
//  }
//}
//
//@media (max-width: 1200px) {
//  .login-wrapper {
//    width: 100%;
//  }
//
//}

.warning-wrapper {
  position: relative;

  .warning-message {
    position: absolute;
    top: -11px;
    right: 0;
    margin: 0;
    color: $cs-red;
    z-index: 1;
  }
}
